.overlay-home {
    background: #213a37;
    background: linear-gradient(180deg, rgba(33, 58, 55, 0.53) 0%, rgba(53, 76, 73, 0.5) 36%, rgba(73, 94, 91, 0.47) 63%, rgba(106, 123, 121, 0.07) 100%);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}